.Button {
  text-align: center;
  display: flex;
  justify-content: center;
}

.ButtonL {
  height: 8vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ButtonS {
  height: 4vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
